.logo {
    width: 150px;
    height: 40px;
}

.container {
    padding-top:150px;
}

.login-box {
    padding:30px 80px; 
    border:1px solid #d9d9d9; 
    border-radius:4px;
}

.img-container {
    width:100%;
    display:inline-block;
    text-align:center;
}

hr {
    margin-bottom: 20px;
}