.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#content {
    width: 100%;
    min-height: 93.25vh;
}

#sidebar {
    min-width: 310px;
    max-width: 310px;
    min-height: 93.25vh;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /*background: #343a40;*/
    color: #343a40;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    color: #343a40;
    /*background: #343a40;*/
}

#sidebar ul.components {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-right: 1px groove #000;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 0.95em;
    display: block;
}
#sidebar ul li a:hover {
    text-decoration: underline;
    color: #343a40;
    background: #eee;
}

#sidebar ul li.active > a, #sidebar ul li.active > a[aria-expanded="true"] {
    color: #434a52;
    background: #eee;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    color: #343a40;
    /*background: #434A52;*/
}